# Puerto del servidor
PORT=3000

# Base de datos
DB_DIALECT=mysql

# Para SQLite:
DB_STORAGE=./data/data.sqlite # Comentar si se va a usar otro que no sea SQLite

# Para MySQL/PostgreSQL:
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=anti_social_db

# Limite en meses para filtrar comentarios antiguos
COMENTARIOS_LIMITE_MESES=6
